* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/* RESPONSIVO */
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    margin: 0 auto;
    height: auto;
    border-radius: 1rem;
  }
}

.content {
  height: 100vh;

  /*PROVAVEL BUG 
  width: 100vw; */
  padding: 1rem;
}

.content h1 {
  margin: 0;
}
