
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* RESPONSIVO */
  @media screen and (min-width: 380px) {
      .pokemons {
        grid-template-columns: 1fr 1fr;
      }
    }
  
  /* RESPONSIVO */
  @media screen and (min-width: 576px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* RESPONSIVO */
  @media screen and (min-width: 992px) {
    .pokemons {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #ff6266;
    color: #f1f1f1;
  }
  
  .pokemon .number {
    color: #00000042;
    text-align: right;
    font-size: 0.87rem;
  }
  
  .pokemon .name {
    color: #f1f1f1;
    margin-bottom: 0.25rem;
  }
  
  .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .pokemon .detail .types {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pokemon .detail .types .type {
    font-size: 0.87rem;
    color: #f1f1f1;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #ffffff31;
    border-radius: 1rem;
    text-align: center;
  }
  
  .pokemon .detail img {
    max-width: 100%;
    height: 90px;
  }
  