.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* RESPONSIVO */
@media screen and (min-width: 500px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

/* RESPONSIVO */
@media screen and (min-width: 710px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* RESPONSIVO */
@media screen and (min-width: 1000px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: #3b3f49;
  color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.pokemon .pokeballBackground {
  position: absolute;
  width: 50%;
  max-height: 100%;
  opacity: 10%;
  right: 0;
  bottom: 0;
}

.pokemon .number {
  color: #ffffff6b;
  text-align: right;
  font-size: 0.87rem;
}

.pokemon .name {
  color: #f1f1f1;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.pokemon .detail .types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon .detail .types .type {
  font-size: 0.9rem;
  color: #f1f1f1;
  padding: 0.3rem 1.5rem;
  margin: 0.5rem 0;
  background-color: #ffffff31;
  border-radius: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.pokemon .detail img {
  max-width: 100%;
  height: 130px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  z-index: 1;
}

.pokemon .detail .pokePicture img {
  position: relative;
}

.loadMore {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buttonBase {
  display: flex;
  justify-content: center;

  position: relative;

  margin: 0;
  padding: 12px 0;

  font-size: 21px;
  line-height: 28px;
  font-weight: 300;

  color: #3b3f49;
  border: 1px solid rgb(226, 43, 43);

  text-decoration: none;
  cursor: pointer;

  transition: 0.5s;
  width: 200px;
  border-radius: 10px;
}

.loadMoreButton {
  position: relative;
  overflow: hidden;
  margin: 4vh 0;
  transition: 1s;
}

.loadMoreButton:hover {
  background-color: #e22b2b;
  box-shadow: 0 0 10px #e22b2b, 0 0 15px #e32b2b, 0 0 30px #ec0b0b;
  transition-delay: 0.1s;
  color: #f1f1f1;
}

.loadMoreButton span {
  position: absolute;
  display: block;
}

.loadMoreButton span:nth-child(1) {
  width: 100%;
  height: 2px;

  top: 0;
  left: -100%;

  background: linear-gradient(90deg, transparent, #e22b2b);
}

.loadMoreButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
}

.loadMoreButton span :nth-child(2) {
  width: 2px;
  height: 100%;

  top: -100%;
  right: 0;

  background: linear-gradient(180deg, transparent, #e22b2b);
}

.loadMoreButton span:nth-child(2) {
  width: 2px;
  height: 100%;

  right: 0;
  top: -100%;

  background: linear-gradient(181.44deg, transparent, #e22b2b);
}

.loadMoreButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.loadMoreButton span:nth-child(3) {
  width: 100%;
  height: 2px;

  bottom: 0;
  right: -100%;

  background: linear-gradient(269.44deg, transparent, #e22b2b);
}

.loadMoreButton:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.loadMoreButton span:nth-child(4) {
  width: 2px;
  height: 100%;

  left: 0;
  bottom: -100%;

  background: linear-gradient(359.88deg, transparent, #e22b2b);
}

.loadMoreButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}
